html, body, *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    box-sizing: border-box;
    background: #fefefe;
}

.contenedor{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background: #d8e2dc;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.25rem;
    border-radius: 10px;
}

input{
    grid-column: 1/5;
    height: 6rem;
    font-size: 1.9rem;
    text-align: right;
    margin-bottom: 5px;
}

input::placeholder{
    color: #000;
    margin-right: 2px
}

input[disabled]{
    background: #fcfcfc;
}

.caja{
    background: #a3c4f3;
    font-size: 1.3rem;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borradores{
    background: #fabfb7;
}

.operadores{
    background: #fdf9c4;
}

.igual{
    background: #d8f8e1;
}

@media (max-width: 430px){

    .calculadora{
        padding: 0.5rem;
    }
    .caja{
        font-size: 1.2rem;
        width: 5rem;
        height: 4.8rem;
    }

    input{
        height: 4.5rem;
        font-size: 1.4rem;
    }
    
}

@media (max-width: 400px){
    .caja{
        font-size: 1.1rem;
        width: 4.2rem;
        height: 4rem;
    }

    input{
        height: 3.5rem;
        font-size: 1.2rem;
    }
    
}
